body{
    font-family: Arial;
    margin: 20px;
    margin-top: 50px;
    background-color: rgb(240, 240, 240);
}

.tabela{
    width: 100%;
    max-width: 700px;
    border-collapse: separate;
    border-spacing: 0 30px;
    position:relative;
    display: flex;
    flex-direction: column;
    
}

.list{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: rgb(24, 182, 255);
    background-color: black;
    
    /* background-color: black; */

}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    height: 400px;
    background-color: black;
}