
body{
    font-family: Arial;
    margin-top: 50px;
    background-color: #f1f0f0;
}

.duas-secoes {
    display: flex;
    gap: 50px;
    margin: 0px auto;
    padding: 20px;
}

.etapa_texto::after{
    content: "";
    position: absolute;
    left: -17px; /* centraliza com o círculo, ajuste conforme necessário */
    top: calc(21px + -0.5 * 30px); /* metade da altura do círculo, ajusta para o centro */
    bottom: calc(0px + -1.5 * 30px); /* termina no centro do último círculo */
    width: 2px;
    background: rgb(0, 162, 255);
    z-index: -1;
}

.etapa_texto, .etapa_texto2{
    position: relative;
    padding: 10px;
}

.componente-etapa{
    width: 100%;
    max-width: 700px;
    border-collapse: separate;
    border-spacing: 0 30px;
    position: relative;
}

.componente-etapa tr{
    margin-bottom: 20px;
}

.etapa_numero{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(0, 162, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;  
}

@media (min-width: 320px) and (max-width: 375px) {
    .passos::after{
    content: "";
    position: absolute;
    left: 15px; /* centraliza com o círculo, ajuste conforme necessário */
    top: calc(15px + 0.5 * 30px); /* metade da altura do círculo, ajusta para o centro */
    bottom: calc(193px + 0.5 * 30px); /* termina no centro do último círculo */
    width: 2px;
    background: rgb(0, 162, 255);
    z-index: -1;
}
}

@media (min-width: 375px) and (max-width: 425px) {
    .passos::after{
    content: "";
    position: absolute;
    left: 15px; /* centraliza com o círculo, ajuste conforme necessário */
    top: calc(15px + 0.5 * 30px); /* metade da altura do círculo, ajusta para o centro */
    bottom: calc(175px + 0.5 * 30px); /* termina no centro do último círculo */
    width: 2px;
    background: rgb(0, 162, 255);
    z-index: -1;
}
}

@media (min-width: 769px) {
    .tabela-emprestimo{
    width: 300px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 15px;
}

.table_card {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    display: grid;
    text-align: center;
    align-items: center;
}

.table {
    display: grid;
    grid-template-columns: 120px 160px 160px 160px;
    border: 1px solid #66666600;
    border-radius: 25px;
    overflow:hidden;
    font-family: Arial, sans-serif;
}

.row {
    display: contents;
}



.table_card_1 {
    border-radius: 10px 10px 0px 0;
    background: transparent;
}

.table_card_1, .table_card_2, .table_card_3, .table_card_4 {
        background-color: #111;
        color:  #009fe3;
        font-weight: 700;
        text-align:center;
        align-content: center;
        padding: 20px;
        margin: 0;
        border: 0;
        outline: none;
    }
}

.tabela-mobile{
    display: none;
}

@media screen and (max-width: 768px){

    .tabela-desktop {
        display: none;
}

.tabela-mobile {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
}

.duas-secoes {
        flex-direction: column;
        align-items: center;
}

.tabela-mobile {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
}

.card_mobile {
        background: #f3f3f3;
        border-radius: 10px;
        text-align: center;
}

.text-card {
        color: #9ca3af;
}

.card_mobile p {
        margin: 10px 25px;
        font-size: 14px;
}

.btn {
        margin-bottom: 15px;
        width: 100%;
        background: #0b0f14;
        color: #00a2ff;
        border: none;
        padding: 12px;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        font-size: 14px;
}

@media screen and (min-width: 425px) and (max-width: 768px) {

.tabela-mobile {
        max-width: 85%;
        padding: 0 20px;
}

.card_mobile {
        width: 100%;
        max-width: 100%;
    }
}

}
